<footer id="footer">
	<div class="container">
		<div class="row double">
			<div class="6u 12u$(small)">
				<h2>copperi</h2>
				<ul class="alt">
					<li><i class="fa fa-phone">&nbsp;</i><a href="tel:+7(499)390-72-14"><span itemprop="telephone">+7&nbsp;(499)&nbsp;390-72-14</span></a></li>
					<li><i class="fa fa-envelope-o">&nbsp;</i><a href="mailto:info@copperi.ru"><span itemprop="email">info@copperi.ru</span></a></li>
					<li><div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><i class="fa fa-map-marker">&nbsp;</i><span itemprop="postalCode">142181</span> г. <span itemprop="addressLocality">Климовск</span>, <span itemprop="streetAddress">ул. Заводская, д. 2</span></div></li>
					<li><i class="fa fa-clock-o">&nbsp;</i><data itemprop="openingHours" value="Mo-Fri 10:00−20:00"> Пн-Пт, 10:00-20:00.</data></li>
				</ul>
			</div>
			<div class="3u 6u(small)">
				<ul class="alt align-center">
					<li><h3>Меню</h3></li>
					<li><a href="/">Главная</a></li>
					<li><a href="/catalog/">Каталог</a></li>
					<li><a href="/tech-info">Тех. инфо</a></li>
					<li><a href="/contact">Контакты</a></li>
				</ul>
			</div>
			<div class="3u$ 6u$(small)">
				<ul class="alt align-center">
					<li><h3>Мы в сети</h3></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Pinterest</a></li>
				</ul>
			</div>
		</div>
		<ul class="copyright">
			<li>&copy; copperi 2012-2018. All rights reserved.</li>
			<li>Design: copperi</li>
		</ul>
	</div>
</footer>