<nav id="nav">
	<a href="/" class="logo">Вещи</a>
	<ul class="links">
		<li><a href="#">Все товары /</a></li>
		<li class="sub-cat"><a href="#">Текстиль</a></li>
		<li class="sub-cat current"><a href="#">Керамика</a></li>
		<li class="sub-cat"><a href="#">Вещи</a></li>
		<li class="sub-cat"><a href="#">Свет</a></li>
		<li class="sub-cat"><a href="#">Мебель</a></li>
		<li class="gap"><a href="#">Истории</a></li>
		<li><a href="#">Доставка</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
	<div>
		
		<a href="tel:+74951234567" class="phone">+7 (495) 123-45-67</a>
		<ul class="icons">
			<li><a href="https://www.facebook.com//"  rel="nofollow" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com//" rel="nofollow" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.pinterest.ru//" rel="nofollow" target="_blank" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
		</ul>
	</div>
</nav>