<!DOCTYPE HTML>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		{% include cart.html %}
		{% assign all_products = site.catalog | where: "type", "product" %}
		{% assign url_list = page.url | split: '/' %}
		{% assign category_name = url_list | last %}
		{% assign current_category_products = all_products | where_exp: "item", "item.url contains category_name" %}
		<!-- Main -->
		<div id="wrapper">
			<article>
				<div class="container">
					<header class="main-header">
						<h1>{{page.page-title}} <sup>({{current_category_products|size}})</sup></h1>
					</header>
					<section class="items">
					{% for product in current_category_products %}
						{% assign url_list = product.url | split: '/' %}
						{% assign product_name = url_list | last %}
						<div class="item">
							<a href="{{product.url}}">
								<img class="image fit" loading="lazy" src="/images/catalog{{product.url}}-01_400w.jpg" alt="{{product.product-title}}-фото-1" title="{{product.product-title}}-фото-1" srcset="/images/catalog{{product.url}}-01_1600w.jpg 1600w, /images/catalog{{product.url}}-01_1400w.jpg 1400w, /images/catalog{{product.url}}-01_1000w.jpg 1000w, /images/catalog{{product.url}}-01_800w.jpg 800w, /images/catalog{{product.url}}-01_600w.jpg 600w, /images/catalog{{product.url}}-01_400w.jpg 400w" sizes="(max-width: 660px) 100vw, (max-width: 980px) 45vw, (max-width: 1080px) 80vw, (max-width: 1450px) 40vw, (max-width: 1820px) 26vw, 16vw"/>
								<div class="caption">
									<h2>{{product.product-title}}</h2>
									<p>{{product.product-price}} &#8381;</p>
								</div>
							</a>
						</div>
						
					{% endfor %}
					</section>
					<section class="content">
					{{content}}
					</section>
				</div>
			</article>
		</div>
			

		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>