<!DOCTYPE HTML>

<html lang="ru">
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="index is-loading">
		<div id="page-wrapper">
			<!-- Header -->
			{% include header.html %}	
			<!-- Nav -->
			{% include nav.html %}	

			<!-- Banner -->
			<div class="banner-wrapper">
				<section id="banner" class="banner container">
					<h1>Дизайнерские радиаторы отопления</h1>
					<p>В Москве. На заказ за 21 день. И цены тоже есть.</p>
					<a href="#start" class="arrow scrolly"><img src="images/arrow.svg" /></a>
				</section>
			</div>
			
			<!-- Main -->
			{{ content }}


			<!-- Footer -->
			{% include footer.html %}	
			<!-- Scripts -->
			{% include scripts.html %}	
		</div>
	</body>
</html>