<!DOCTYPE HTML>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		<!-- Main -->
		<!-- <div id="banner"> -->
			<!-- <div class="inner"> -->
				<!-- <h1>Мебель и предметы интерьера ручной работы</h1> -->
			<!-- </div> -->
		<!-- </div> -->
		<div id="wrapper">
			<article>
			{% assign all_products = site.catalog | where: "type", "product" | sort: "weight" %}
				<section class="container">
					<header class="main-header">
						<h1>Интерьер ручной работы</h1>
					</header>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>
				</section>
				<section class="container">
					<header>
						<h2>Новинки:</h2>
					</header>
					<div class="items">
						{% for product in all_products %}
						
						<div class="item">
							<a href="{{product.url}}">
								<img class="image fit" src="/images/catalog/{{product.url}}-small.jpg" />
								<div class="caption">
									<h2>{{product.product-title}}</h2>
									<p>{{product.product-price}} &#8381;</p>
								</div>
							</a>
						</div>
						
					{% endfor %}
					
					</div>
				</section>
				<hr />
				<section class="container">
					<header>
						<h2>Популярные:</h2>
					</header>
					<div class="items">
						{% for product in all_products %}
						
						<div class="item">
							<a href="{{product.url}}">
								<img class="image fit" src="/images/catalog/{{product.url}}-small.jpg" />
								<div class="caption">
									<h2>{{product.product-title}}</h2>
									<p>{{product.product-price}} &#8381;</p>
								</div>
							</a>
						</div>
						
					{% endfor %}
					</div>
				</section>
			</article>
		</div>
			

		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>