<!DOCTYPE HTML>
<html lang="ru">
	{% include head.html %}
	<body>
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		<!-- Main -->
		<div id="banner">
			<div class="inner">
				<h1>Мебель и предметы интерьера с историей</h1>
			</div>
		</div>
		<div id="wrapper">
			<article>
			{% assign all_products = site.catalog | where: "type", "product" %}
				<section class="container">
					<header class="main-header">
						<h2>Новинки:</h2>
					</header>
					<div class="items">
						{% for product in all_products %}
						
						<div class="item">
							<a href="{{product.url}}">
								<img class="image fit" src="/images/catalog/{{product.url}}-small.jpg" />
								<div class="caption">
									<h2>{{product.product-title}}</h2>
									<p>{{product.product-price}} &#8381;</p>
								</div>
							</a>
						</div>
						
					{% endfor %}
					</div>
				</section>
			</article>
		</div>
			

		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>