<!DOCTYPE HTML>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		<!-- Main -->
		
		{% assign img_array = "" | split:"," %}
		{% assign url_list = page.url | split: "/" %}
		{% assign product_name = url_list | last %}
		{% for file in site.static_files %}
			{% if file.path contains product_name %}
				{% assign img_array = img_array | push: file.path %}
			{% endif %}
		{% endfor %}
		<div id="wrapper">
			<article>
				<div class="container">
					
					<section class="product">
						<img class="image fit" src="/images/catalog/{{url_list[1]}}/{{product_name}}-01.jpg" />
						<div>
							<header class="main-header">
								<h1>{{page.product-title}}</h1>
							</header>
							<p>{{page.product-description}}</p>
							{% if page.features %}
							<ul>
								{% for feature in page.features %}
								<li><b>{{feature.name}}</b> {{feature.value}}</li>
								{% endfor %}
							</ul>
							{% endif %}
							<h2 class="align-center">{{page.product-price}} &#8381;</h2>
							<footer>
								<ul class="actions align-center">
									<li><a id="btn-order" href="#" class="button special big modal-open" data-modal="modal-order">Купить</a></li>
								</ul>
							</footer>
						</div>
					</section>
					{% if img_array.size > 2 %}
					<h2 style="margin-top: 2em;font-weight: 300;">Фотографии:</h2>
					<section class="photos">
						{% for img in img_array %}
							{% unless img contains "small" %}
							{% unless img contains "01" %}
								<img class="image fit" src="{{img}}" alt="{{page.product-title}}-{{forloop.index}}"></img>
							{% endunless %}
							{% endunless %}
						{% endfor %}
					</section>
					{% endif %}
					{% if page.related %}
					<h2 style="margin-top: 2em;font-weight: 300;">Смотрите также:</h2>
					<section class="items">
						{% for related_product in page.related %}
						{% for product in site.catalog %}
						{% if product.url contains related_product %}
						<div class="item">
							<a href="{{product.url}}">
								<img class="image fit" src="/images/catalog/{{product.url}}-small.jpg" />
								<div class="caption">
									<h2>{{product.product-title}}</h2>
									<p>{{product.product-price}} &#8381;</p>
								</div>
							</a>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</section>
					{% endif %}
				</div>
			</article>
		</div>
			

		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>