<!DOCTYPE HTML>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		<!-- Cart -->
		{% include cart.html %}
		<!-- Main -->
		
		{% assign img_array = "" | split:"," %}
		{% assign url_list = page.url | split: "/" %}
		{% assign product_name = url_list | last %}
		{% for file in site.static_files %}
			{% if file.path contains page.url %}
				{% unless file.path contains "_" %}
					{% assign img_array = img_array | push: file.path %}
				{%endunless%}
			{% endif %}
		{% endfor %}
		<div id="wrapper">
			<article>
				<div class="container">
					
					<section class="product">
						<img class="image fit" src="/images/catalog{{page.url}}-01_1600w.jpg" alt="{{page.product-title}}-фото-1" title="{{page.product-title}}-фото-1" srcset="/images/catalog{{page.url}}-01_1600w.jpg 1600w, /images/catalog{{page.url}}-01_1400w.jpg 1400w, /images/catalog{{page.url}}-01_1000w.jpg 1000w, /images/catalog{{page.url}}-01_800w.jpg 800w, /images/catalog{{page.url}}-01_600w.jpg 600w, /images/catalog{{page.url}}-01_400w.jpg 400w" sizes="(max-width: 780px) 100vw, (max-width: 980px) 45vw, 40vw"/>
						<div>
							<header class="main-header">
								<h1>{{page.product-title}}</h1>
							</header>
							<p>{{page.product-description}}</p>
							{% if page.features %}
							<ul>
								{% for feature in page.features %}
								<li>{{feature}}</li>
								{% endfor %}
							</ul>
							{% endif %}
							<h2 class="align-center">{{page.product-price}} &#8381;</h2>
							<footer>
								<ul class="actions align-center">
									<li>
										<a href="#" class="button special big add-to-cart" data-name="{{page.product-title}}" data-price="{{page.product-price | remove: ' '}}" data-url="{{page.url}}">В корзину</a>
									</li>
								</ul>
							</footer>
						</div>
					</section>
					{% if img_array.size > 1 %}
					<h2 style="margin-top: 2em;font-weight: 300;">Фотографии:</h2>
					<section class="photos">
						{% for img in img_array %}
							{% unless img contains "01" %}
								<img class="image fit" loading="lazy" src="{{img | remove: '.jpg'}}_1600w.jpg" alt="{{page.product-title}}-фото-{{forloop.index}}" title="{{page.product-title}}-фото-{{forloop.index}}" srcset="{{img | remove: '.jpg'}}_1600w.jpg 1600w, {{img | remove: '.jpg'}}_1400w.jpg 1400w, {{img | remove: '.jpg'}}_1000w.jpg 1000w, {{img | remove: '.jpg'}}_800w.jpg 800w, {{img | remove: '.jpg'}}_600w.jpg 600w, {{img | remove: '.jpg'}}_400w.jpg 400w" sizes="(max-width: 780px) 100vw, (max-width: 980px) 45vw, 40vw"/>
							{% endunless %}
						{% endfor %}
					</section>
					{% endif %}
					{% if page.related %}
					<h2 style="margin-top: 2em;font-weight: 300;">Смотрите также:</h2>
					<section class="items">
						{% for related_product in page.related %}
						{% for product in site.catalog %}
						{% if product.url contains related_product %}
						<div class="item">
							<a href="{{product.url}}">
								<img class="image fit" loading="lazy" src="/images/catalog{{product.url}}-01_400w.jpg" alt="{{product.product-title}}-фото-1" title="{{product.product-title}}-фото-1" srcset="/images/catalog{{product.url}}-01_1600w.jpg 1600w, /images/catalog{{product.url}}-01_1400w.jpg 1400w, /images/catalog{{product.url}}-01_1000w.jpg 1000w, /images/catalog{{product.url}}-01_800w.jpg 800w, /images/catalog{{product.url}}-01_600w.jpg 600w, /images/catalog{{product.url}}-01_400w.jpg 400w" sizes="(max-width: 660px) 100vw, (max-width: 980px) 45vw, (max-width: 1080px) 80vw, (max-width: 1450px) 40vw, (max-width: 1820px) 26vw, 16vw"/>
								<div class="caption">
									<h2>{{product.product-title}}</h2>
									<p>{{product.product-price}} &#8381;</p>
								</div>
							</a>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</section>
					{% endif %}
				</div>
			</article>
		</div>
			

		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>